.book {
    display: none
}

.book .navigation {
    height:30px;
    position:absolute;
    font-family: Helvetica, sans-serif;
}

.book .navigation .navigationComponent {
    padding: 6px;
    color: #fff;
    position: relative;
}

.book .navigation .navigationBg {
    background-color:#000;
    height:30px;
    position:absolute;
    opacity:0.6;
}

.book .navigation .title {
    float:left;
}

.book .navigation .slider {
    background-color: #000;
    position: absolute;
    margin-top: 8px;
}

.ui-slider-handle {
  width: 8px;
  height: 14px;
  position: absolute;
  top: -7px;
  background: #478AFF;
  border: solid 1px black;
}

.book .navigation .overlayMode {
    float:right;
}

.book .navigation .pageNum {
    float:left;
}