.book {
    display: none;
    position: relative;
}

.book .navigation {
    height:30px;
    position:absolute;
    font-family: Helvetica, sans-serif;
    left: 0;
    bottom: 0;
}

.book .navigation .navigationComponent {
    padding: 6px;
    color: #fff;
    position: relative;
}

.book .navigation .navigationBg {
    background-color:#000;
    height:30px;
    position:absolute;
    opacity:0.7;
}

.book .navigation .title {
    float:left;
}

.sliderContainer {
    width: 200px;
    position: absolute;
}

.jslider {
    top: 0.4em;
}

.jslider_round .jslider-pointer {
    width: 20px; height: 20px; top: -6px; margin-left: -8px;
}

.jslider .jslider-label,
.jslider .jslider-label-to,
.jslider .jslider-value,
.jslider .jslider-value-to {
    display: none;
    visibility: hidden;
}

.book .navigation .overlayButton {
    float:right;
    width: 17px;
    height: 17px;
    background-image:url(../images/overlay.png);
    background-repeat: no-repeat;
}

.overlayContainer .navigation .overlayButton {
    background-image:url(../images/closeOverlay.png);
}

.book .navigation .pageNum {
    position: absolute;
    font-size: small;
    margin-top: 3px;
    font-style: italic;
}

img.cover {
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
    cursor: pointer;
}

.description h1 {
    margin: 0;
}

.startButton {
    color: #fff;
    background-color: #c00;
    padding: .3em 1em .3em 1em;
    display: inline;
    cursor: pointer;
}

