.book {
    display: none
}

.book .navigation {
    height:30px;
    position:absolute;
    font-family: Helvetica, sans-serif;
}

.book .navigation .navigationComponent {
    padding: 6px;
    color: #fff;
    position: relative;
}

.book .navigation .navigationBg {
    background-color:#000;
    height:30px;
    position:absolute;
    opacity:0.7;
}

.book .navigation .title {
    float:left;
}

.book .navigation .slider {
    background-color: #000;
    position: absolute;
    margin-top: 8px;
}

.ui-slider-handle {
  width: 14px;
  height: 15px;
  position: absolute;
  top: -6px;
  background-image:url(../images/slider_handle.png);
  background-repeat: no-repeat;
}

.book .navigation .overlayMode {
    float:right;
}

.book .navigation .pageNum {
    position: absolute;
    font-size: small;
    margin-top: 3px;
    font-style: italic;
}